################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/BlobCatCmd/bin/Debug/netcoreapp2.0
/BlobCatCmd/obj
/BlobCatEngine/obj
/BlobCatEngine/bin/Debug/netstandard2.0
/packages
