################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/BlobCatCmd/bin/Debug/netcoreapp2.0
/BlobCatCmd/obj
/BlobCatEngine/obj
/BlobCatEngine/bin/Debug/netstandard2.0
/packages
/BlobCatCmd/bin/Release
/BlobCatCmd/BlobCatCmd.csproj.user
/BlobCatCmd/Properties/PublishProfiles
/BlobCatEngine/bin/Release/netstandard2.0
