################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/BlobCatCmd/bin/Debug/netcoreapp2.0
/BlobCatCmd/obj
/BlobCatEngine/obj
/BlobCatEngine/bin/Debug/netstandard2.0
/packages
/BlobCatCmd/bin/Release
/BlobCatCmd/BlobCatCmd.csproj.user
/BlobCatCmd/Properties/PublishProfiles
/BlobCatEngine/bin/Release/netstandard2.0
/NETCore/BlobCatCmd/bin
/NETCore/BlobCatCmd/obj
/NETCore/BlobCatCmd/BlobCatCmd.csproj.user
/NETCore/BlobCatEngine/bin
/NETCore/BlobCatEngine/obj
/NETFull/BlobCatCmd/bin/Debug
/NETFull/BlobCatCmd/obj/Debug
/NETFull/BlobCatEngine/bin/Debug
/NETFull/BlobCatEngine/obj/Debug
/NETCore/BlobCatCmd/Properties/PublishProfiles/FolderProfile.pubxml.user
